@using Smash_Glicko_Frontend.Models
@using Smash_Glicko_Frontend.Data

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    List<LeagueModel> Leagues = TestData.Leagues;
}

<body>
    <div class=Title>
        <h>Public Leagues</h>
    </div>

    <ol class=NoStyleList name=”LeagueList” id=”LeagueList”>
        @for (int i = 0; i < @Leagues.Count; i++)
        {
            <li class=League>
                <a class=LeagueLink href="@Url.Action("Display", "Leagues", new ViewLeagueModel(Leagues[i].LeagueId))">
                    <div class=LeagueItem>@Leagues[i].LeagueName</div>
                    <div class=LeagueItem>@Leagues[i].LeagueGame</div>
                    <div class=LeagueItem></div>
                    <div class=LeagueItem>@Leagues[i].TimeFrames[Leagues[i].TimeFrames.Count - 1].Players.Count<br>Players</div>
                    <div class=LeagueItem>@Leagues[i].EventCount<br>Events</div>
                </a>
            </li>
        }
    </ol>
</body>